.vs/
bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
artifacts/

*.appxupload
*.msix
*.msixbundle
*.msixupload
*.appxbundle
*.appinstaller

publish/
AppPackages/

.idea/
.vscode/
